{% extends 'base.html' %}



{% block content %}
<div class="container">
    
    <div class="mt-5"><h1 class="text-warning text-center">Culture et Outils DevOps</h1></div>
    <div class="mt-5"><h2 class="text-warning text-center">Qui cesse d'apprendre cesse d'exister!!!</h2></div>
    <div class="card bg-dark mt-5 ">
        <div class="card-body">
            <div class="card-title text-center "><a class="text-warning" href="#"><h4>Documentation</h4></a></div>
        </div>
    </div>
    <div class="card bg-dark mt-5">
        <div class="card-body">
            <div class="card-title text-warning text-center"><a class="text-warning" href="#"><h4>Blog</h4></a></div>
        </div>
    </div>
    <div class="card bg-dark mt-5 ">
        <div class="card-body">
            <div class="card-title text-warning text-center"><a class="text-warning" href="{% url 'kofi' %}"><h4>Me Soutenir</h4></a></div>
        </div>
    </div>
</div>
{% endblock %}