{% extends 'base.html' %}


{% block content %}

<div class="container">
   <h1>Soutenez-moi </h1> 
   <div>
    <h2>Pourquoi me soutenir ? 🤔</h2>
   <p>Vous aurez remarqué que je m'efforce de garder cet espace libre de publicités et de contenu sponsorisé. Cela me permet de me concentrer pleinement sur la création d’articles de qualité. Pour continuer cette mission, j'ai besoin de votre aide ! ❤️</p>
   </div>
   <div>
    <h2>Mon objectif</h2>
    <p>
        Mon but est de partager des connaissances et des outils qui vous aident développer vos compétences en informatique.
   
    </p>
   </div>
   <div>
    <h2>Comment me soutenir ? 🙌</h2>
    <p>Chaque contribution, qu'elle soit petite ou grande, fait une différence. Voici comment vous pouvez m'aider :
        Ponctuel ou mensuel sur mon compte <a href="http://ko-fi.com/kodjikanka" target="_blank" rel="noopener noreferrer">ko-fi</a>
    </p>
    <div>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'G2G7140N33');kofiwidget2.draw();</script> 
    </div>
    
   </div>
   <div>
    <h2>Pourquoi ce soutien est-il important ? 🤷‍♂️</h2>
    Votre aide me permet de couvrir plusieurs frais essentiels pour maintenir et améliorer le blog :

    <ul>
        <li>Hébergement du blog</li>
        <li> Logiciels et outils : Pour améliorer la qualité et le référencement de mes articles. 📈</li>
    </ul>
    
    
    
   

   </div>
   <div>
    <p>Merci infiniment à tous ceux qui m'ont soutenu jusqu'à présent, et à ceux qui envisagent de le faire. Votre générosité me permet de continuer cette aventure ! 👏</p>
   </div>

</div>



{% endblock %}